@charset "UTF-8";
/* 
웹 폰트 : 구글 웹폰트 또는 눈누, 응용 프로그램용 폰트 : 다폰트
font-family:"1차폰트명",2차폰트명,3차폰트명;}
3차 폰트는 기본 폰트를 적용함
기본 폰트 : 브라우저에서 기본적으로 제공하는 폰트
sans-serif(고딕), serif(명조), cursive(궁서), monospace(가로세로비율1:1폰트), fantasy(심볼기호나 디자인폰트)
*/
/* 초기화 스타일 */
* { margin: 0; padding: 0; }
body, html { width: 100%; font-family: 'Noto Sans KR', sans-serif; overflow-x:hidden; }    
ul { list-style:none; }
a { text-decoration: none; }
img { border: none; }
.np { font-family: 'Nanum Pen Script', cursive;}
.container { clear:both; width:100%; }

/* 헤더 스타일 */
.hd { clear:both; width: 100%; position:fixed; top: 0; left: 0; z-index:999; }
.tnb { clear:both; width: 100%; height:35px; background-color:rgba(7, 93, 70, 0.9);}
.tnb_wrap { clear:both;  width: 1400px; margin: 0 auto; height:20px; }
.left_tnb { float:left; }
.left_tnb li { float:left; line-height: 35px; }
.left_tnb li:first-child::after { content:"|"; color:#fff; margin-right: 14px; }
.left_tnb li a { margin-right: 14px; }
.left_tnb li a:hover { color:deeppink; }
.right_tnb { float:right; }
.right_tnb li { float:left; line-height: 35px; }
.right_tnb li a { margin-left: 14px; display:block; width:30px; height:30px;
    text-indent:9999px; overflow: hidden; 
    background-image: url("./images/icons.png");
    margin-top: 10px; background-size:300px 700px; }
/* split icon : 하나의 아이콘셋 이미지를 쪼개어 여러 아이콘을 표시 
    background-image는 같고, background-position으로 조절하여 해당 아이콘이 나타나도록 함
*/
/* 각 각의 아이콘 이미지 적용시
.right_tnb li a { background-size:auto; background-position:center center; }
.right_tnb li a.ico1 { background-image: url("./images/icon1.png"); }
.right_tnb li a.ico2 { background-image: url("./images/icon2.png"); }
.right_tnb li a.ico3 { background-image: url("./images/icon3.png"); }
*/
.right_tnb li a.sns1 { background-position:-67px -67px; }
.right_tnb li a.sns2 { background-position:-7px -67px; }
.right_tnb li a.sns3 { background-position:-36px -67px; }
.tnb ul li a { color:#fff; font-size:0.9em; }

.main { clear:both; width: 100%; height:75px; background-color: rgba(255, 255, 255, 0.9); 
border-bottom:1px solid #ecedee; }
.main_wrap { width: 1400px; margin: 0 auto; }

.logo { display:block; width: 120px; height:45px; overflow:hidden;
    position:absolute; top:55px; left:10vw; z-index:10;   }
.logo img { display:block; width: 100%; height:auto; }

.gnb { padding-top: 10px; }
.gnb > ul { width:800px;  height:48px;  margin: 0 auto; }
.gnb > ul > li { float:left; width: 20%; text-align: center; 
    line-height: 50px; }
.gnb > ul > li:before { content:""; display:block; width:100vw; 
height: 50px; background-color:rgba(255, 255, 255, 0.6); 
border-bottom:1px solid #eee; border-top:1px solid #eee; 
position:absolute; top:115px; left: 0; visibility:hidden; }
.gnb:hover > ul > li:before { visibility: visible;}
.gnb > ul > li > a { display:block; font-size:1.3em; color:#333;
font-weight: bold; }
.gnb > ul > li:hover > a { border-bottom:2px solid #075d46; 
    color:#075d46; }

.sub { display:none; padding-top: 20px; width: 1000px;
height: 50px; position:absolute; top:90px; z-index:20; }
.sub.item2 { margin-left: -240px; }
.sub.item3 { margin-left: -320px; }
.sub.item4 { margin-left: -480px; }
.sub.item5 { margin-left: -640px; }
.gnb > ul > li:hover > .sub { display:block; }
.sub > ul > li { float:left; width: 20%; }
.sub > ul > li > a { display:block; color:#075d46; font-size:1.1em; 
font-weight: 500; }
.sub > ul > li:hover > a { color:#41c365; }

.sitemap_btn { display:block; position:absolute; top:65px;  z-index:10;
        right:10vw; cursor:pointer; width: 20px; height: 20px; overflow:hidden;
    text-indent:-9999px; background-image: url("./images/gnb_icon_menu.png");
    background-size:20px 40px; background-position:center -20px; }
.sitemap { position:fixed; top: 0; left: 0; width: 100vw; height: 100vh;
        z-index:999; background-color:rgba(73,93,70,0.96); 
        box-sizing:border-box; padding:150px 150px;
        display:none; }
.sitemap #realtedSites { color:#fff; padding-top: 60px; margin-top:40px; border-top:1px solid #fff; }
.sitemap #realtedSites li { float:left; padding-right: 40px; line-height: 2.4; 
font-size:22px; }
.sitemap #realtedSites li a { color:#fff; font-size:16px; }
.sitemap #realtedSites li ul { clear:both; }
.sitemap #realtedSites li ul li { clear:both; }
#sitemap_ck:checked ~ .sitemap { display:block; }    
#sitemap_ck { display:none; }
.close_btn { display:block;     width: 30px;    height: 30px;
        background-image: url("./images/icons.png");   background-repeat: no-repeat;
background-size: 300px auto;    background-position: -150px -60px;  cursor:pointer;
position:absolute; right:10%; top:10%; z-index:9999; overflow:hidden; text-indent:-9999px; }

/* 푸터 스타일 */
#ft { clear:both;  }
.ft .row { clear:both; padding-top: 25px; padding-bottom: 25px; min-height:60px; }
.ft .row1 { background-color:#075d46;  }
.ft .fnb li { float:left; margin-right: 50px; line-height: 60px; }
.ft .fnb li a { color:#fff; font-size: 18px; }
.ft .fnb li a:hover { color:gold; }
.ft #favo { display:block; line-height: 60px; height: 60px; width: 200px; text-align: center;
font-size: 18px;  }

.ft .row2 { background-color: #f1f1f1; height: 224px; }
.ft .slogan { font-size: 36px; color:#e0e0e0; }
.ft .ft_link_fr dl { float:left; font-size:16px; line-height: 32px; padding-left: 28px; }
.ft .ft_link_fr dl a { color:#a0a0a0; }
.ft .ft_link_fr dl a:hover { color:#333; }

.ft .row3 { background-color: #fff; }
.ft .ft_logo { width: 125px; height: 45px; background-image: url("./images/headerlogo_pc_kor.png"); 
background-size:125px auto; }
.ft .copyright { height: 45px; line-height: 45px; font-style: normal; font-weight:100;
color:#a0a0a0; }

.ft_wrap { clear:both; width: 1280px; margin: 0 auto; }
.ft_wrap .left { float: left; }
.ft_wrap .right { float: right; }

.fix_area { position:fixed; z-index:9999; bottom:40px; right:40px; }
.fix_area .cir_box { display:block; width: 60px; height: 60px; text-align:center; 
border-radius:35px; box-sizing: border-box; padding: 6px; font-size:12px; padding-top:15px; 
overflow:hidden; box-shadow:1px 1px 6px #333; }
.fix_area .counsel { background-color:rgba(255,255,255,0.75); color:#333; }
.fix_area .totop { background-color:#075d46; color:#fff; margin-top: 20px; }